body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-group-text {
    position: relative;
    background-color: transparent;
    float: left;
    outline: none;
    text-align: left;
}

button {
    position: relative;
    left: 10px;
    
}