body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input#username {
    position: relative;
    background-color: transparent;
    outline: none;
    text-align: left;
    bottom: 10px;
}

input#password {
    position: relative;
    background-color: transparent;
    outline: none;
    text-align: left;
}

button#sendbutton {
    position: relative;
    width: 206px;
    text-align: right;
    top: 10px;
}

input::placeholder {
    font-weight: bold;
}